body {
	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/zwartevilt.png);
}

/*-----------------------CSS for Navbar----------------------*/
nav {
	display:grid;
	grid-template-columns: repeat(3, 1fr);

	
	width: 100%;
	margin-top: 0px;
}

.navPill {
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: #474B4F;
}

.homeNav {
	background-color: #222629;
}

.navPills {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

h1 {
	text-align: center;
	color: #66FCF1
}

/*----------------------CSS for body content------------------------*/
.wrapper {
	display: grid;
	grid-template-columns: 1fr 11fr 1fr;
}

.mainSection {
	background-color: #222629;
	height: 800px;
	border-radius: 5px;
	border-top-left-radius: 0px;
	margin-left: 8px;
}
