:root {
	--font-default:"Mina", "Exo 2", Play, Ubuntu, "Times New Roman";
}
body {
	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/black_lozenge.png);
	color: azure;
	font-family: "Mina", "Exo 2", Play, Ubuntu, "Times New Roman";
}

/*Make body appear under nav*/
.main-body {
	margin-top: 100px;
	margin-left: 220px;
}

/*center name*/
.logo {
	padding-top: 12px;
}

/*Header color*/
.text-large {
	color: #454647;
	padding-left: 5px;
	padding-right: 5px;
}

h4 {
	color:#454647;
	margin-left: 15px;
}

/*picture padding*/
.selfPic {
	padding-left: 15px;
	padding-right: 25px;
	float: left;
}

/* Bio */
#bioParagraph {
	line-height: 1.8;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 15px;
}

/* Contact Form */
#contactButton {
	background-color: #454647;
	color: azure;
	margin-bottom: 10px;
}
input, textarea {
	color: azure;
}
label {
	/* text-align: center; */
}

/* Sidebar */
.sideBar {
	margin-top: 100px;
	margin-left: 875px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
}
.githubImage {
	padding-right: 10px;
}